In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
zone = 0
input_folder = f"6_all_data_table/zone_{zone}"
for f in os.listdir(input_folder):
    filename=f
    break
data = pd.read_csv(input_folder+"/"+filename)[['latitude', 'longitude']]
data = data.drop_duplicates()

lat = data['latitude'].unique()
lon = data['longitude'].unique()
lat_ind = np.arange(1, len(lat)+1)
lon_ind = np.arange(1, len(lon)+1)
lat_dict = {l:i for l,i in zip(lat,lat_ind)}
lon_dict = {l:i for l,i in zip(lon,lon_ind)}
data['latitude_rank'] = [lat_dict[l] for l in data['latitude']]
data['longitude_rank'] = [lon_dict[l] for l in data['longitude']]

data = data.sort_values(by=['longitude', 'latitude'], ascending=[True, True]).reset_index(drop=True)
data['index'] = data.index+1
latitude_rank = np.array(data['latitude_rank'])
longitude_rank = np.array(data['longitude_rank'])
data

      latitude  longitude  latitude_rank  longitude_rank  index
0        21.00      -88.0              1               1      1
1        21.25      -88.0              2               1      2
2        21.50      -88.0              3               1      3
3        21.75      -88.0              4               1      4
4        22.00      -88.0              5               1      5
...        ...        ...            ...             ...    ...
2560     31.00      -74.0             41              57   2561
2561     31.25      -74.0             42              57   2562
2562     31.50      -74.0             43              57   2563
2563     31.75      -74.0             44              57   2564
2564     32.00      -74.0             45              57   2565

[2565 rows x 5 columns]

In [4]:
adjacency = np.zeros((len(lat)*len(lon), len(lat)*len(lon)))
print(adjacency.shape)
for i in range(len(lat)*len(lon)):
    for j in range(len(lat)*len(lon)):
        adjacency[i, j] = ((abs(latitude_rank[i] - latitude_rank[j])==1) &
                           (abs(longitude_rank[i] - longitude_rank[j])==0) |
                           (abs(latitude_rank[i] - latitude_rank[j])==0) &
                           (abs(longitude_rank[i] - longitude_rank[j])==1))

(2565, 2565)

In [5]:
node1=[]
node2=[]
for i in range(adjacency.shape[0]):
    for j in range(i+1, adjacency.shape[0]):
        if adjacency[i,j]==1:
            node1.append(i+1)
            node2.append(j+1)

In [6]:
nodes = pd.DataFrame({'node1':node1, 'node2':node2})
nodes.to_csv(f'10_nodes/nodes_zone_{zone}.csv')